scrapper active.json
{
  "name": "scrapper active",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.mea.gov.in/index.htm",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        720
      ],
      "id": "a39419b5-6fca-4fff-8165-dfe41db4deee",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Extract news/updates from MEA website HTML\nconst html = $input.item.json.data;\n\n// Helper function to clean text\nfunction cleanText(text) {\n  if (!text) return '';\n  return text.replace(/\\s+/g, ' ')\n    .replace(/\\r\\n/g, ' ')\n    .replace(/\\n/g, ' ')\n    .trim();\n}\n\n// Helper function to extract date from string\nfunction extractDate(dateStr) {\n  if (!dateStr) return null;\n  const cleanDate = cleanText(dateStr);\n  return cleanDate;\n}\n\n// Extract main banner news/updates\nconst bannerNews = [];\nconst bannerRegex = /<div class=\"row\">[\\s\\S]*?<img src=\"([^\"]+)\"[^>]*alt=\"([^\"]*)\"[^>]*title=\"([^\"]*)\"[\\s\\S]*?<span class=\"fa fa-calendar\"><\\/span>\\s*([^<]+)[\\s\\S]*?<h2 class=\"bannerTitle\">\\s*([^<]+)/g;\n\nlet match;\nwhile ((match = bannerRegex.exec(html)) !== null) {\n  bannerNews.push({\n    type: 'banner_news',\n    image: match[1],\n    alt_text: cleanText(match[2]),\n    title: cleanText(match[3] || match[5]),\n    date: extractDate(match[4]),\n    source: 'Main Banner'\n  });\n}\n\n// Extract video briefings\nconst videoBriefings = [];\nconst videoRegex = /<a href=\"([^\"]+youtube[^\"]+)\"[\\s\\S]*?<img[^>]+alt=\"([^\"]*)\"[^>]*title=\"([^\"]*)\"[\\s\\S]*?<span class=\"fa fa-calendar\"><\\/span>\\s*(\\d+\\s+\\w+\\s+\\d{4})/g;\n\nwhile ((match = videoRegex.exec(html)) !== null) {\n  videoBriefings.push({\n    type: 'video_briefing',\n    youtube_url: match[1],\n    title: cleanText(match[2] || match[3]),\n    date: extractDate(match[4]),\n    source: 'Video Briefings'\n  });\n}\n\n// Extract press releases/statements from links\nconst pressReleases = [];\nconst pressRegex = /<a href=\"([^\"]+(?:press-releases|speeches|statements)[^\"]*)\"[^>]*>([^<]+)<\\/a>/gi;\n\nwhile ((match = pressRegex.exec(html)) !== null) {\n  if (!match[1].includes('javascript') && !match[1].includes('#')) {\n    pressReleases.push({\n      type: 'press_release',\n      url: match[1].startsWith('http') ? match[1] : `https://mea.gov.in/${match[1]}`,\n      title: cleanText(match[2]),\n      source: 'Press Releases/Statements'\n    });\n  }\n}\n\n// Extract visitor count and last updated info\nconst visitorMatch = html.match(/Visitors:\\s*(\\d+)/);\nconst lastUpdatedMatch = html.match(/Page last updated on:\\s*([^<]+)/);\n\nconst metadata = {\n  visitors: visitorMatch ? visitorMatch[1] : null,\n  last_updated: lastUpdatedMatch ? cleanText(lastUpdatedMatch[1]) : null,\n  extraction_date: new Date().toISOString()\n};\n\n// Combine all news items\nconst allNews = [\n  ...bannerNews,\n  ...videoBriefings,\n  ...pressReleases.slice(0, 10) // Limit press releases to avoid duplicates\n];\n\n// Remove duplicates based on title\nconst uniqueNews = allNews.filter((item, index, self) =>\n  index === self.findIndex((t) => t.title === item.title)\n);\n\n// Sort by date (most recent first) where dates are available\nuniqueNews.sort((a, b) => {\n  if (!a.date || !b.date) return 0;\n  return new Date(b.date) - new Date(a.date);\n});\n\nreturn {\n  json: {\n    metadata: metadata,\n    total_items: uniqueNews.length,\n    news_items: uniqueNews,\n    summary: {\n      banner_news: bannerNews.length,\n      video_briefings: videoBriefings.length,\n      press_releases: pressReleases.length\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        720
      ],
      "id": "e852f6dc-0a6f-4eba-ac32-1f719683a9dc",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://www.mea.gov.in/travel-advisories.htm",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1680
      ],
      "id": "bf05fac7-47a3-4588-8b60-e9f70c0e6018",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Extract travel advisories from MEA website HTML\nconst html = $input.item.json.data;\n\n// Helper function to clean text\nfunction cleanText(text) {\n  if (!text) return '';\n  return text.replace(/\\s+/g, ' ')\n    .replace(/\\r\\n/g, ' ')\n    .replace(/\\n/g, ' ')\n    .replace(/\\t/g, ' ')\n    .trim();\n}\n\n// Helper function to decode HTML entities\nfunction decodeHtmlEntities(text) {\n  const entities = {\n    '&amp;': '&',\n    '&lt;': '<',\n    '&gt;': '>',\n    '&quot;': '\"',\n    '&#39;': \"'\",\n    '&nbsp;': ' '\n  };\n  return text.replace(/&[#\\w]+;/g, match => entities[match] || match);\n}\n\n// Extract travel advisories\nconst advisories = [];\nconst advisoryRegex = /<li>[\\s\\S]*?<a[^>]*href=\"advisories-details\\.htm\\?(\\d+)\"[^>]*>([^<]+)<\\/a>[\\s\\S]*?<span class=\"fa fa-calendar\"><\\/span>\\s*([^<]+)<\\/p>/g;\n\nlet match;\nwhile ((match = advisoryRegex.exec(html)) !== null) {\n  const advisoryId = match[1];\n  const title = cleanText(decodeHtmlEntities(match[2]));\n  const date = cleanText(match[3]);\n  \n  advisories.push({\n    advisory_id: advisoryId,\n    title: title,\n    date: date,\n    url: `https://mea.gov.in/advisories-details.htm?${advisoryId}`,\n    type: 'travel_advisory'\n  });\n}\n\n// Extract pagination info\nconst paginationInfo = {};\nconst displayingMatch = html.match(/Displaying Item[^<]*<span[^>]*>(\\d+)<\\/span>[^<]*<span[^>]*>to<\\/span>[^<]*<span[^>]*>(\\d+)<\\/span>[^<]*<span[^>]*>of<\\/span>[^<]*<span[^>]*>(\\d+)<\\/span>/);\nif (displayingMatch) {\n  paginationInfo.start_item = parseInt(displayingMatch[1]);\n  paginationInfo.end_item = parseInt(displayingMatch[2]);\n  paginationInfo.total_items = parseInt(displayingMatch[3]);\n}\n\nconst pageMatch = html.match(/<span[^>]*>Page<\\/span>[\\s\\S]*?<span[^>]*>of<\\/span>[^<]*<span[^>]*>(\\d+)<\\/span>/);\nif (pageMatch) {\n  paginationInfo.total_pages = parseInt(pageMatch[1]);\n}\n\n// Extract page title and metadata\nconst pageTitleMatch = html.match(/<h2>Travel Advisories<\\/h2>/);\nconst pageTitle = pageTitleMatch ? 'Travel Advisories' : null;\n\nconst lastUpdatedMatch = html.match(/Page last updated on:\\s*([^<]+)</);\nconst lastUpdated = lastUpdatedMatch ? cleanText(lastUpdatedMatch[1]) : null;\n\n// Categorize advisories by country/region\nconst advisoriesByCountry = {};\nadvisories.forEach(advisory => {\n  // Extract country name from title\n  const countryMatch = advisory.title.match(/for\\s+([A-Z][a-zA-Z\\s]+?)(?:\\s+and\\s+|\\s*$)/i);\n  const country = countryMatch ? cleanText(countryMatch[1]) : 'General';\n  \n  if (!advisoriesByCountry[country]) {\n    advisoriesByCountry[country] = [];\n  }\n  advisoriesByCountry[country].push(advisory);\n});\n\n// Identify urgent/important advisories (recent ones)\nconst urgentAdvisories = advisories.filter(advisory => {\n  const year = parseInt(advisory.date.match(/\\d{4}/)?.[0] || 0);\n  return year >= 2024; // Advisories from 2024 onwards\n});\n\nreturn {\n  json: {\n    page_info: {\n      title: pageTitle,\n      last_updated: lastUpdated,\n      page_url: 'https://mea.gov.in/travel-advisories.htm'\n    },\n    pagination: paginationInfo,\n    statistics: {\n      total_advisories: advisories.length,\n      urgent_advisories: urgentAdvisories.length,\n      countries_covered: Object.keys(advisoriesByCountry).length\n    },\n    advisories: advisories,\n    advisories_by_country: advisoriesByCountry,\n    urgent_advisories: urgentAdvisories,\n    extraction_date: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1680
      ],
      "id": "c5e6fef7-8625-4245-acc3-baa9a3948011",
      "name": "Code1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        2800
      ],
      "id": "d09e4dca-8e39-4b92-9cbd-4e13a451f8b5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    urls: $input.item.json.advisories.map(a => a.url)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1680
      ],
      "id": "6422a4a9-15fb-442c-a585-eb6b91e90738",
      "name": "Code2"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[1] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1488
      ],
      "id": "f270951b-b3d1-4ca2-9b1b-a9517039c2a7",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[2] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1680
      ],
      "id": "f0b761d6-ecaf-41ee-9b89-a9f644e0ceaa",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1296
      ],
      "id": "fe115891-e2b7-415e-b271-300b414efb5a",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[4] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1872
      ],
      "id": "e6fff1a7-5919-49ac-9703-742de2e85a0f",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[5] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        2064
      ],
      "id": "8b410aa2-8e2b-49bd-874c-4fc41ea7761a",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[5] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        2256
      ],
      "id": "fd89d0c8-db8c-4c7d-a1b0-45c66946f2d1",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[7] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        2448
      ],
      "id": "60e11a49-4267-4e71-8d47-edba9873c553",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[8] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1104
      ],
      "id": "5b2afdd7-1b64-46af-8611-6ddb04c46c26",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "url": "={{ $json.urls[9] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        912
      ],
      "id": "85df80ae-1824-42e2-a5ce-3f48ebe4f027",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "url": "https://sachet.ndma.gov.in/cap_public_website/rss/rss_india.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1568,
        528
      ],
      "id": "383ced62-5db9-4ec9-9599-35b0f898b7c6",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.ndrf.gov.in/latest-updates",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2640
      ],
      "id": "5cd62606-0bd9-47e1-b6a5-2a89889bfe7f",
      "name": "HTTP Request13"
    },
    {
      "parameters": {
        "url": "https://tsunami.incois.gov.in/itews/DSSProducts/OPR/past90days.json",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        336
      ],
      "id": "777438fc-c213-40cb-bd3b-f6f9dc979e4f",
      "name": "HTTP Request14"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "titles",
              "cssSelector": "#content .item-list li a",
              "returnArray": true
            },
            {
              "key": "urls",
              "cssSelector": "#content .item-list li a",
              "returnValue": "attribute",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        224,
        2640
      ],
      "id": "2f44ea14-b4f6-454f-9edd-ffa0bcc4d7f0",
      "name": "HTML Extract1"
    },
    {
      "parameters": {
        "jsCode": "// Fixed Code - handles when URLs come as objects\nconst inputData = $input.first().json;\nconst titles = inputData.titles || [];\nconst urls = inputData.urls || [];\n\nconst results = [];\n\nfor (let i = 0; i < titles.length; i++) {\n  const title = titles[i];\n  const urlData = urls[i];\n  \n  // Handle if URL is an object or string\n  let urlPath = '';\n  if (typeof urlData === 'string') {\n    urlPath = urlData;\n  } else if (urlData && typeof urlData === 'object') {\n    // If it's an object, try to get the href property or convert to string\n    urlPath = urlData.href || urlData.value || JSON.stringify(urlData);\n  }\n  \n  // Convert title to string\n  const titleStr = title != null ? String(title) : '';\n  \n  // Build full URL\n  const fullUrl = urlPath ? `https://www.ndrf.gov.in${urlPath}` : '';\n  \n  // Determine category\n  const category = urlPath.includes('pressrelease') ? 'Press Release' : 'News';\n  \n  results.push({\n    json: {\n      id: i + 1,\n      title: titleStr,\n      url: fullUrl,\n      category: category,\n      extractedAt: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        2640
      ],
      "id": "29c9ca77-55b3-4cb1-aa15-97c10238cc99",
      "name": "Combine Title & URL1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        2640
      ],
      "id": "bc3da6b2-1e25-4d6b-a1fa-2e47bd9113fc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        2640
      ],
      "id": "32b20eac-16f3-4d42-8e25-79aa7cb1fd8b",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "pageTitle",
              "cssSelector": "h1.page__title"
            },
            {
              "key": "sourceLink",
              "cssSelector": ".field-name-field-url a",
              "returnValue": "attribute"
            },
            {
              "key": "publishDate",
              "cssSelector": ".field-name-field-single-date .date-display-single"
            },
            {
              "key": "language",
              "cssSelector": ".form-item.form-type-item"
            },
            {
              "key": "articleContent",
              "cssSelector": "article.node-news",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1120,
        2640
      ],
      "id": "4e5a0ca1-393b-4ba7-8601-d6bdd1c72ccc",
      "name": "HTML1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract href from sourceLink\n  let sourceUrl = '';\n  if (data.sourceLink?.href) {\n    sourceUrl = data.sourceLink.href;\n  }\n  \n  // Clean title - remove newlines\n  const title = (data.pageTitle || '').replace(/\\n/g, ' ').trim();\n  \n  // Extract ISO date from articleContent if available\n  let dateISO = '';\n  if (data.articleContent) {\n    const isoMatch = data.articleContent.match(/content=\"([^\"]+)\"[^>]*property=\"dc:date\"/i);\n    if (isoMatch) {\n      dateISO = isoMatch[1];\n    }\n  }\n  \n  // Clean publish date\n  const publishDate = data.publishDate || '';\n  \n  // Clean language\n  let language = (data.language || '').replace('Language ', '').trim();\n  if (language === 'Undefined' || language === '') {\n    language = 'English';\n  }\n  \n  // Create clean output\n  results.push({\n    json: {\n      title: title,\n      sourceUrl: sourceUrl,\n      publishDate: publishDate,\n      publishDateISO: dateISO,\n      language: language,\n      scrapedAt: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        2640
      ],
      "id": "bca83074-b27d-4c34-8a2d-bdb169d6496d",
      "name": "Clean Article Data"
    },
    {
      "parameters": {
        "url": "={{ $json.sourceUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        2640
      ],
      "id": "60ae53db-5c01-4b46-8840-8c39b309dada",
      "name": "HTTP Request17",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.pib.gov.in/RssMain.aspx?ModId=6&Lang=1&Regid=3&reg=3",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1344,
        3600
      ],
      "id": "f03090ba-7cd5-4b68-82be-1b41467f53a2",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://www.newsonair.gov.in/category/national/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        2832
      ],
      "id": "538d2425-bcd1-4e23-b308-be12089bd0e9",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst html = items[0].json.data;\n\n// Split by article tags\nconst articleMatches = html.split(/<article[^>]*class=\"[^\"]*post[^\"]*\"[^>]*>/);\nconst articles = [];\n\n// Skip first element (content before first article)\nfor (let i = 1; i < articleMatches.length; i++) {\n  const articleHtml = articleMatches[i].split('</article>')[0];\n  \n  // Extract title\n  const titleMatch = articleHtml.match(/<h3[^>]*class=\"[^\"]*entry-title[^\"]*\"[^>]*>[\\s\\S]*?<a[^>]*>([\\s\\S]*?)<\\/a>/);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract link\n  const linkMatch = articleHtml.match(/<a[^>]*href=\"([^\"]*)\"[^>]*title=\"[^\"]*\"/);\n  const link = linkMatch ? linkMatch[1] : '';\n  \n  // Extract description\n  const descMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*blogDisc[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const description = descMatch ? descMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract image\n  const imgMatch = articleHtml.match(/<img[^>]*src=\"([^\"]*)\"[^>]*alt=\"[^\"]*\"/);\n  const image = imgMatch ? imgMatch[1] : '';\n  \n  // Extract date\n  const dateMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*colorPrimary[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const date = dateMatch ? dateMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract views\n  const viewsMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*eyeView[^\"]*\"[^>]*>[\\s\\S]*?<span>([\\s\\S]*?)<\\/span>/);\n  const views = viewsMatch ? viewsMatch[1].trim() : '';\n  \n  if (title && link) {\n    articles.push({\n      title,\n      link,\n      description,\n      image,\n      date,\n      views\n    });\n  }\n}\n\nreturn articles.map(a => ({json: a}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        2832
      ],
      "id": "eb04932e-aee3-46b5-b42d-eb3c7c2f77ac",
      "name": "Code3"
    },
    {
      "parameters": {
        "url": "https://www.newsonair.gov.in/category/national/page/2/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        3024
      ],
      "id": "c0009022-05b0-4c91-98c0-96b0b69af858",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst html = items[0].json.data;\n\n// Split by article tags\nconst articleMatches = html.split(/<article[^>]*class=\"[^\"]*post[^\"]*\"[^>]*>/);\nconst articles = [];\n\n// Skip first element (content before first article)\nfor (let i = 1; i < articleMatches.length; i++) {\n  const articleHtml = articleMatches[i].split('</article>')[0];\n  \n  // Extract title\n  const titleMatch = articleHtml.match(/<h3[^>]*class=\"[^\"]*entry-title[^\"]*\"[^>]*>[\\s\\S]*?<a[^>]*>([\\s\\S]*?)<\\/a>/);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract link\n  const linkMatch = articleHtml.match(/<a[^>]*href=\"([^\"]*)\"[^>]*title=\"[^\"]*\"/);\n  const link = linkMatch ? linkMatch[1] : '';\n  \n  // Extract description\n  const descMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*blogDisc[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const description = descMatch ? descMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract image\n  const imgMatch = articleHtml.match(/<img[^>]*src=\"([^\"]*)\"[^>]*alt=\"[^\"]*\"/);\n  const image = imgMatch ? imgMatch[1] : '';\n  \n  // Extract date\n  const dateMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*colorPrimary[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const date = dateMatch ? dateMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract views\n  const viewsMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*eyeView[^\"]*\"[^>]*>[\\s\\S]*?<span>([\\s\\S]*?)<\\/span>/);\n  const views = viewsMatch ? viewsMatch[1].trim() : '';\n  \n  if (title && link) {\n    articles.push({\n      title,\n      link,\n      description,\n      image,\n      date,\n      views\n    });\n  }\n}\n\nreturn articles.map(a => ({json: a}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        3024
      ],
      "id": "e732b8ce-dcbf-4bd6-bca5-fac7df498836",
      "name": "Code4"
    },
    {
      "parameters": {
        "url": "https://www.newsonair.gov.in/category/national/page/3/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        3216
      ],
      "id": "bed4c115-fd80-4b41-9987-f6e86ddf4f48",
      "name": "HTTP Request20"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst html = items[0].json.data;\n\n// Split by article tags\nconst articleMatches = html.split(/<article[^>]*class=\"[^\"]*post[^\"]*\"[^>]*>/);\nconst articles = [];\n\n// Skip first element (content before first article)\nfor (let i = 1; i < articleMatches.length; i++) {\n  const articleHtml = articleMatches[i].split('</article>')[0];\n  \n  // Extract title\n  const titleMatch = articleHtml.match(/<h3[^>]*class=\"[^\"]*entry-title[^\"]*\"[^>]*>[\\s\\S]*?<a[^>]*>([\\s\\S]*?)<\\/a>/);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract link\n  const linkMatch = articleHtml.match(/<a[^>]*href=\"([^\"]*)\"[^>]*title=\"[^\"]*\"/);\n  const link = linkMatch ? linkMatch[1] : '';\n  \n  // Extract description\n  const descMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*blogDisc[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const description = descMatch ? descMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract image\n  const imgMatch = articleHtml.match(/<img[^>]*src=\"([^\"]*)\"[^>]*alt=\"[^\"]*\"/);\n  const image = imgMatch ? imgMatch[1] : '';\n  \n  // Extract date\n  const dateMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*colorPrimary[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const date = dateMatch ? dateMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract views\n  const viewsMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*eyeView[^\"]*\"[^>]*>[\\s\\S]*?<span>([\\s\\S]*?)<\\/span>/);\n  const views = viewsMatch ? viewsMatch[1].trim() : '';\n  \n  if (title && link) {\n    articles.push({\n      title,\n      link,\n      description,\n      image,\n      date,\n      views\n    });\n  }\n}\n\nreturn articles.map(a => ({json: a}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        3216
      ],
      "id": "db24de51-091a-4f7d-b6e0-6734b04a68c2",
      "name": "Code5"
    },
    {
      "parameters": {
        "url": "https://www.newsonair.gov.in/category/national/page/4/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        3408
      ],
      "id": "a1527ca8-3477-404c-b496-3c625ffeb572",
      "name": "HTTP Request22"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst html = items[0].json.data;\n\n// Split by article tags\nconst articleMatches = html.split(/<article[^>]*class=\"[^\"]*post[^\"]*\"[^>]*>/);\nconst articles = [];\n\n// Skip first element (content before first article)\nfor (let i = 1; i < articleMatches.length; i++) {\n  const articleHtml = articleMatches[i].split('</article>')[0];\n  \n  // Extract title\n  const titleMatch = articleHtml.match(/<h3[^>]*class=\"[^\"]*entry-title[^\"]*\"[^>]*>[\\s\\S]*?<a[^>]*>([\\s\\S]*?)<\\/a>/);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract link\n  const linkMatch = articleHtml.match(/<a[^>]*href=\"([^\"]*)\"[^>]*title=\"[^\"]*\"/);\n  const link = linkMatch ? linkMatch[1] : '';\n  \n  // Extract description\n  const descMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*blogDisc[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const description = descMatch ? descMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract image\n  const imgMatch = articleHtml.match(/<img[^>]*src=\"([^\"]*)\"[^>]*alt=\"[^\"]*\"/);\n  const image = imgMatch ? imgMatch[1] : '';\n  \n  // Extract date\n  const dateMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*colorPrimary[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  const date = dateMatch ? dateMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  \n  // Extract views\n  const viewsMatch = articleHtml.match(/<p[^>]*class=\"[^\"]*eyeView[^\"]*\"[^>]*>[\\s\\S]*?<span>([\\s\\S]*?)<\\/span>/);\n  const views = viewsMatch ? viewsMatch[1].trim() : '';\n  \n  if (title && link) {\n    articles.push({\n      title,\n      link,\n      description,\n      image,\n      date,\n      views\n    });\n  }\n}\n\nreturn articles.map(a => ({json: a}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        3408
      ],
      "id": "adfcdbbe-27ed-4c9c-bc0d-111c6cf2c067",
      "name": "Code6"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        912
      ],
      "id": "f839557d-a28c-449e-96c0-2a0f96efb5f8",
      "name": "Markdown"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        1104
      ],
      "id": "c9b08c01-6367-4f99-b6f6-58be6692dc39",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        1296
      ],
      "id": "ec456c67-2dec-442c-96ab-6bdb0ed32f14",
      "name": "Markdown2"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        1488
      ],
      "id": "fe5c9485-343e-4fd5-90bd-9e63f0b3ab79",
      "name": "Markdown3"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        1680
      ],
      "id": "7fd87732-b2df-4bcf-b856-da6838724163",
      "name": "Markdown4"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        1872
      ],
      "id": "5ec5493f-efbe-455a-be90-668a466fa868",
      "name": "Markdown5"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        2064
      ],
      "id": "58627b20-5536-441d-b513-c0b6f06de579",
      "name": "Markdown6"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        2256
      ],
      "id": "b0e3dcc5-dd70-4752-9e3e-6afa27606338",
      "name": "Markdown7"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1568,
        2448
      ],
      "id": "fe931856-bd05-42b3-9d8c-db98a3980efa",
      "name": "Markdown8"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        3600
      ],
      "id": "5dfe2579-f842-44b1-a5b8-fec44002bac3",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0d203670-659a-4700-b696-292807f76906",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Rain",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94aeaedb-5f38-4ac7-9005-4616d073c1b2",
      "name": "Filter: Chennai Rain",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1792,
        528
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2016,
        3616
      ],
      "id": "9210712a-e3ec-4e2e-b310-d404d5cefe27",
      "name": "Markdown9"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1792,
        2640
      ],
      "id": "260107ab-8c0a-4fc2-ba7b-6da6820906d3",
      "name": "Markdown10"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2016,
        2608
      ],
      "id": "16508532-ae15-4ead-b9f4-317f1027a333"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        1552
      ],
      "id": "e6dc1c55-30a8-46c3-928b-fc0fb2e5625a",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": "x-ai/grok-beta:free",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.2
        }
      },
      "name": "Grok Model - Agent 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3152,
        3152
      ],
      "id": "2f25a64d-a47f-4f24-aca5-ca24a9f193f3",
      "credentials": {
        "openRouterApi": {
          "id": "SU2IodsLddfyNLv3",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate Agent 1 output\nconst response = $input.first().json;\n\nlet output;\ntry {\n  // Check if response has output property or is direct\n  output = response.output || response.text || response;\n  \n  // If it's a string, parse it\n  if (typeof output === 'string') {\n    // Remove markdown code blocks if present\n    output = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    output = JSON.parse(output);\n  }\n  \n  // Validate required fields\n  if (!output.crisis_id) {\n    // Generate crisis_id if missing\n    const crypto = require('crypto');\n    const hash = crypto.randomBytes(4).toString('hex').toUpperCase();\n    const date = new Date().toISOString().split('T')[0];\n    output.crisis_id = `${date}-IND-UNKNOWN-${hash}`;\n  }\n  \n  // Ensure arrays exist\n  output.classification_tags = output.classification_tags || [];\n  output.raw_keywords_extracted = output.raw_keywords_extracted || [];\n  output.timeline = output.timeline || [];\n  output.key_entities = output.key_entities || [];\n  \n} catch (e) {\n  console.error('Agent 1 parsing error:', e);\n  output = {\n    is_crisis: false,\n    crisis_id: 'ERROR-' + Date.now(),\n    error: e.message,\n    raw_response: response\n  };\n}\n\nreturn [{\n  json: {\n    output: output,\n    raw_response: response\n  }\n}];"
      },
      "name": "Parse Agent 1 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        2928
      ],
      "id": "71dedcc5-f3b3-4105-88b1-78b6e21ea1e3"
    },
    {
      "parameters": {
        "model": "x-ai/grok-beta:free",
        "options": {
          "maxTokens": 2500,
          "temperature": 0.4
        }
      },
      "name": "Grok Model - Agent 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4976,
        3152
      ],
      "id": "9f14d26c-9349-4fb4-9968-5f83dadf15be",
      "credentials": {
        "openRouterApi": {
          "id": "SU2IodsLddfyNLv3",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate Agent 2 output\nconst response = $input.first().json;\n\nlet output;\ntry {\n  output = response.output || response.text || response;\n  \n  if (typeof output === 'string') {\n    output = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    output = JSON.parse(output);\n  }\n  \n  // Ensure we have 15 queries\n  if (!output.search_queries || output.search_queries.length < 15) {\n    console.warn('Less than 15 queries generated');\n  }\n  \n  // Ensure arrays exist\n  output.recommended_sources = output.recommended_sources || [];\n  output.keywords_for_monitoring = output.keywords_for_monitoring || [];\n  output.search_queries = output.search_queries || [];\n  \n} catch (e) {\n  console.error('Agent 2 parsing error:', e);\n  output = {\n    base_event_summary: 'Error generating queries',\n    search_queries: [],\n    error: e.message\n  };\n}\n\nreturn [{\n  json: {\n    output: output,\n    raw_response: response\n  }\n}];"
      },
      "name": "Parse Agent 2 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5664,
        2928
      ],
      "id": "f1edc138-1357-4183-b4f1-c620fa10b3d8"
    },
    {
      "parameters": {
        "model": "x-ai/grok-beta:free",
        "options": {
          "maxTokens": 4000,
          "temperature": 0.2
        }
      },
      "name": "Grok Model - Agent 3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6352,
        3152
      ],
      "id": "4f9ab983-1fdf-4de6-b33a-86d429363529",
      "credentials": {
        "openRouterApi": {
          "id": "SU2IodsLddfyNLv3",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate Agent 3 output\nconst response = $input.first().json;\n\nlet output;\ntry {\n  output = response.output || response.text || response;\n  \n  if (typeof output === 'string') {\n    output = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    output = JSON.parse(output);\n  }\n  \n  // Ensure all required sections exist\n  output.master_classification = output.master_classification || {};\n  output.geographic_data = output.geographic_data || {};\n  output.timeline = output.timeline || {};\n  output.impact_assessment = output.impact_assessment || {};\n  output.response_analysis = output.response_analysis || {};\n  output.predictive_analysis = output.predictive_analysis || {};\n  output.information_quality = output.information_quality || {};\n  output.tags_final = output.tags_final || [];\n  output.monitoring_keywords = output.monitoring_keywords || [];\n  \n} catch (e) {\n  console.error('Agent 3 parsing error:', e);\n  output = {\n    master_classification: {\n      crisis_id: 'ERROR-' + Date.now(),\n      error: e.message\n    }\n  };\n}\n\nreturn [{\n  json: {\n    output: output,\n    raw_response: response\n  }\n}];"
      },
      "name": "Parse Agent 3 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7040,
        2928
      ],
      "id": "40e77baf-50d9-41a6-a2ea-f89a0b04f96f"
    },
    {
      "parameters": {
        "jsCode": "// Normalize all data sources\nconst items = $input.all();\nconst normalized = [];\n\n// Helper function to create hash without crypto module\nfunction createHash(str) {\n  let hash = 0;\n  if (str.length === 0) return hash.toString(16);\n  \n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convert to 32bit integer\n  }\n  \n  return Math.abs(hash).toString(16);\n}\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let url = data.url || data.link || data.sourceUrl || '';\n  let title = data.title || data.pageTitle || '';\n  let content = data.content || data.description || data.md || data.contentSnippet || '';\n  let publishDate = data.publishDate || data.date || data.pubDate || data.isoDate || '';\n  let source = data.source || 'Unknown';\n  \n  if (!url) continue;\n  \n  // Create content hash using custom function\n  const contentString = (title + content).substring(0, 5000);\n  const hash = createHash(contentString);\n  \n  normalized.push({\n    json: {\n      url: url,\n      title: title,\n      content: content,\n      publishDate: publishDate,\n      source: source,\n      content_hash: hash,\n      extracted_at: new Date().toISOString(),\n      raw_data: data\n    }\n  });\n}\n\nreturn normalized;"
      },
      "name": "Normalize All Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        2736
      ],
      "id": "89273b3d-e556-4470-9472-0893c9ddbe47",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE",
          "mode": "list",
          "cachedResultName": "Google Sheets Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 910820739,
          "mode": "list",
          "cachedResultName": "Processed_URLs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit#gid=910820739"
        },
        "options": {}
      },
      "name": "Load Processed URLs1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2464,
        2640
      ],
      "id": "22827073-1574-4b4e-88cb-763756330f80",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjcSC0u8s1GfFklj",
          "name": "jasonnew"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Deduplication Check\nconst newItems = $input.all();\nconst processedData = $('Load Processed URLs1').all();\n\nconst processedUrls = new Set();\nconst processedHashes = new Set();\n\nfor (const row of processedData) {\n  if (row.json['URL ']) processedUrls.add(row.json['URL ']);\n  if (row.json.Content_Hash) processedHashes.add(row.json.Content_Hash);\n}\n\nconst unprocessed = [];\n\nfor (const item of newItems) {\n  const url = item.json.url;\n  const hash = item.json.content_hash;\n  \n  if (!processedUrls.has(url) && !processedHashes.has(hash)) {\n    unprocessed.push(item);\n  }\n}\n\nconsole.log(`New items to process: ${unprocessed.length}`);\nreturn unprocessed.length > 0 ? unprocessed : [];"
      },
      "name": "Check Duplicates1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        2832
      ],
      "id": "e7df743f-3777-4b56-a2c7-98053f1773be"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.url }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "name": "Filter Valid Items1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2688,
        2832
      ],
      "id": "e5d2802f-7f48-4af1-a9ef-438a8e205424"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE",
          "mode": "list",
          "cachedResultName": "Google Sheets Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Crisis_Categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit#gid=0"
        },
        "options": {}
      },
      "name": "Google Sheets - Categories DB1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2912,
        2736
      ],
      "id": "c19692f4-4210-4f7a-bedc-72d19eed1b31",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjcSC0u8s1GfFklj",
          "name": "jasonnew"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "content_hash",
              "name": "content_hash",
              "value": "={{ $json.content_hash }}",
              "type": "string"
            },
            {
              "id": "crisis_input",
              "name": "crisis_content",
              "value": "=URL: {{ $json.url }}\nTitle: {{ $json.title }}\nPublish Date: {{ $json.publishDate }}\nSource: {{ $json.source }}\n\nContent:\n{{ $json.content.substring(0, 4000) }}",
              "type": "string"
            },
            {
              "id": "categories_data",
              "name": "categories_available",
              "value": "={{ JSON.stringify($('Google Sheets - Categories DB1').all()) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Agent 1 Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2912,
        2928
      ],
      "id": "ad6c1561-b980-4bf8-b546-ce3656179ef0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Crisis Classification AI Agent for Indian crisis events.\n\n**CRISIS CATEGORIES DATABASE:**\n{{ $json.categories_available }}\n\n**YOUR TASK:**\n1. Analyze the provided content to determine if it represents an ACTUAL CRISIS EVENT\n2. If yes, classify it according to the categories database\n3. Extract precise geographic information (specific city/district, not just \"India\")\n4. Extract timeline and impact data\n5. Assign appropriate severity based on actual impact\n\n**IMPORTANT RULES:**\n- Only classify actual crisis/emergency events, not routine news\n- Use ONLY categories from the provided database\n- Be specific about locations (e.g., \"Patna, Bihar\" not just \"Bihar\")\n- Extract real numbers from content, don't estimate\n- Timeline must include ISO datetime format where possible\n\n**OUTPUT FORMAT:**\nReturn ONLY valid JSON with this exact structure:\n```json\n{\n  \"is_crisis\": true/false,\n  \"crisis_id\": \"YYYY-MM-DD-COUNTRY-CATEGORY-UNIQUEHASH\",\n  \"primary_category\": \"exact match from database\",\n  \"sub_category\": \"exact match from database\",\n  \"crisis_title\": \"brief descriptive title\",\n  \"affected_country\": \"India or specific country\",\n  \"affected_region\": \"specific city/district/state\",\n  \"affected_coordinates\": \"lat,long or unknown\",\n  \"first_known_time\": \"ISO 8601 datetime or unknown\",\n  \"current_status\": \"ongoing/resolved/escalating/monitoring\",\n  \"severity\": \"Low/Medium/High/Critical\",\n  \"timeline\": [\n    {\"time\": \"ISO datetime\", \"event\": \"description\"}\n  ],\n  \"initial_impact\": {\n    \"casualties_reported\": \"number or unknown\",\n    \"injured\": \"number or unknown\",\n    \"displaced_people\": \"number or unknown\",\n    \"economic_loss_estimated\": \"value with currency or unknown\",\n    \"area_affected_km2\": \"number or unknown\",\n    \"infrastructure_damaged\": \"description or unknown\"\n  },\n  \"key_entities\": [\"NDRF\", \"State Govt\", \"District Admin\"],\n  \"confidence_score\": 0-100,\n  \"classification_tags\": [\"tag1\", \"tag2\", \"tag3\"],\n  \"raw_keywords_extracted\": [\"keyword1\", \"keyword2\"]\n}\n```\n\n**CONTENT TO ANALYZE:**\n{{ $json.crisis_content }}\n\nAnalyze this content carefully. If it's not a crisis event, set is_crisis to false and provide minimal other fields.",
        "hasOutputParser": true
      },
      "name": "Agent 1 Prompt1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3136,
        2928
      ],
      "id": "d211b9d1-6e23-45fc-a13d-554a40752863"
    },
    {
      "parameters": {},
      "name": "JSON Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3280,
        3152
      ],
      "id": "3500925c-8659-444a-b933-8dea10e107c7"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.output.is_crisis }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "name": "IF Is Crisis1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4064,
        2928
      ],
      "id": "1d85be80-f944-4b0e-b62d-68098eef8d14"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE",
          "mode": "list",
          "cachedResultName": "Google Sheets Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 910820739,
          "mode": "list",
          "cachedResultName": "Processed_URLs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit#gid=910820739"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL ": "={{ $('Prepare Agent 1 Context1').item.json.url }}",
            "Content_Hash": "={{ $('Prepare Agent 1 Context1').item.json.content_hash }}",
            "Crisis_ID": "={{ $json.output.crisis_id }}",
            "Status": "Agent1_Complete",
            "Processed_At": "={{ $now.toISO() }}",
            "Category": "={{ $json.output.primary_category }}",
            "Severity": "={{ $json.output.severity }}",
            "Agent1_Confidence": "={{ $json.output.confidence_score }}",
            "Notes": ""
          }
        },
        "options": {}
      },
      "name": "Register URL1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4288,
        2928
      ],
      "id": "5e6ec4a0-6b18-4229-a21b-4586fc84c03d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjcSC0u8s1GfFklj",
          "name": "jasonnew"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE",
          "mode": "list",
          "cachedResultName": "Google Sheets Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1993442985,
          "mode": "list",
          "cachedResultName": "Agent1_Classifications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit#gid=1993442985"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Crisis_ID": "={{ $json.output.crisis_id }}",
            "URL": "={{ $('Prepare Agent 1 Context1').item.json.url }}",
            "Title": "={{ $json.output.crisis_title }}",
            "Category": "={{ $json.output.primary_category }}",
            "Sub_Category": "={{ $json.output.sub_category }}",
            "Country": "={{ $json.output.affected_country }}",
            "Region": "={{ $json.output.affected_region }}",
            "Coordinates": "={{ $json.output.affected_coordinates }}",
            "Severity": "={{ $json.output.severity }}",
            "First_Known_Time": "={{ $json.output.first_known_time }}",
            "Current_Status": "={{ $json.output.current_status }}",
            "Timeline_JSON": "={{ JSON.stringify($json.output.timeline) }}",
            "Impact_JSON": "={{ JSON.stringify($json.output.initial_impact) }}",
            "Tags": "={{ $json.output.classification_tags?.join(', ') || '' }}",
            "Keywords": "={{ $json.output.raw_keywords_extracted?.join(', ') || '' }}",
            "Confidence": "={{ $json.output.confidence_score }}",
            "Timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "name": "Save Agent 1 Classification1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4512,
        2928
      ],
      "id": "d3e943d6-8ceb-4638-a2d9-ab7a9405cfc9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjcSC0u8s1GfFklj",
          "name": "jasonnew"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent1_data",
              "name": "crisis_classification",
              "value": "={{ JSON.stringify($json.output) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Agent 2 Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        4736,
        2928
      ],
      "id": "8f6db65f-df4c-45da-b72f-b2a21c2e2840"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Query Generation AI Agent specializing in crisis information gathering.\n\n**CRISIS EVENT DATA:**\n{{ $json.crisis_classification }}\n\n**YOUR TASK:**\nGenerate exactly 15 targeted search queries to gather comprehensive information about this crisis event.\n\n**QUERY DISTRIBUTION:**\n1. **HUMAN IMPACT (4 queries):**\n   - Casualties and death toll\n   - Injured and hospitalized\n   - Missing persons\n   - Displaced/evacuated populations\n\n2. **INFRASTRUCTURE DAMAGE (3 queries):**\n   - Buildings and structures damaged/destroyed\n   - Roads, bridges, transportation\n   - Utilities (power, water, communications)\n\n3. **ECONOMIC IMPACT (2 queries):**\n   - Financial losses and damage estimates\n   - Business disruption and economic impact\n\n4. **RESPONSE EFFORTS (3 queries):**\n   - Emergency services and rescue operations\n   - Aid organizations and relief efforts\n   - Government response and actions\n\n5. **CURRENT STATUS & FORECAST (3 queries):**\n   - Latest updates and current situation\n   - Future projections and ongoing risks\n   - Recovery timeline and rehabilitation\n\n**QUERY CONSTRUCTION RULES:**\n- Include specific location names from the classification\n- Use crisis-specific terminology and keywords\n- Include timeframe references (e.g., \"latest\", \"today\", \"since [date]\")\n- Make queries suitable for search engines (Google/news search)\n- Combine relevant tags and keywords\n- Use quotes for exact phrases when needed\n\n**OUTPUT FORMAT:**\nReturn ONLY valid JSON:\n```json\n{\n  \"base_event_summary\": \"one sentence summary of crisis\",\n  \"search_queries\": [\n    {\n      \"query_id\": 1,\n      \"query_text\": \"specific search query here\",\n      \"query_category\": \"Human Impact|Infrastructure|Economic|Response|Status\",\n      \"associated_tags\": [\"tag1\", \"tag2\"],\n      \"priority\": \"High|Medium|Low\",\n      \"expected_info\": \"what information this query should reveal\"\n    }\n  ],\n  \"recommended_sources\": [\"Times of India\", \"NDTV\", \"PIB\", \"NDMA\"],\n  \"keywords_for_monitoring\": [\"keyword1\", \"keyword2\", \"keyword3\"]\n}\n```\n\nGenerate 15 diverse, targeted queries that will help gather complete information about this crisis event.",
        "hasOutputParser": true
      },
      "name": "Agent 2 Prompt1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4960,
        2928
      ],
      "id": "c17d7bfa-02ad-4d23-8178-2dce423de19c"
    },
    {
      "parameters": {},
      "name": "JSON Output Parser4",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        5104,
        3152
      ],
      "id": "3366ecf0-13eb-4c67-b103-c1aeb9bfc0ec"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE",
          "mode": "list",
          "cachedResultName": "Google Sheets Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 111886833,
          "mode": "list",
          "cachedResultName": "Agent2_Queries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit#gid=111886833"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Crisis_ID": "={{ JSON.parse($('Prepare Agent 2 Context1').item.json.crisis_classification).crisis_id }}",
            "Event_Summary": "={{ $json.output.base_event_summary }}",
            "Query_1": "={{ $json.output.search_queries[0]?.query_text || '' }}",
            "Query_2": "={{ $json.output.search_queries[1]?.query_text || '' }}",
            "Query_3": "={{ $json.output.search_queries[2]?.query_text || '' }}",
            "Query_4": "={{ $json.output.search_queries[3]?.query_text || '' }}",
            "Query_5": "={{ $json.output.search_queries[4]?.query_text || '' }}",
            "Query_6": "={{ $json.output.search_queries[5]?.query_text || '' }}",
            "Query_7": "={{ $json.output.search_queries[6]?.query_text || '' }}",
            "Query_8": "={{ $json.output.search_queries[7]?.query_text || '' }}",
            "Query_9": "={{ $json.output.search_queries[8]?.query_text || '' }}",
            "Query_10": "={{ $json.output.search_queries[9]?.query_text || '' }}",
            "Query_11": "={{ $json.output.search_queries[10]?.query_text || '' }}",
            "Query_12": "={{ $json.output.search_queries[11]?.query_text || '' }}",
            "Query_13": "={{ $json.output.search_queries[12]?.query_text || '' }}",
            "Query_14": "={{ $json.output.search_queries[13]?.query_text || '' }}",
            "Query_15": "={{ $json.output.search_queries[14]?.query_text || '' }}",
            "Query_Categories_JSON": "={{ JSON.stringify($json.output.search_queries?.map(q => ({id: q.query_id, category: q.query_category, priority: q.priority})) || []) }}",
            "Priority_Queries": "={{ $json.output.search_queries?.filter(q => q.priority === 'High').map(q => q.query_text).join(' | ') || '' }}",
            "Monitoring_Keywords": "={{ $json.output.keywords_for_monitoring?.join(', ') || '' }}",
            "Timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "name": "Save Agent 2 Queries1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5888,
        2928
      ],
      "id": "28045b33-9e31-4b7b-a721-ae936386894b",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjcSC0u8s1GfFklj",
          "name": "jasonnew"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent1_output",
              "name": "agent1_classification",
              "value": "={{ JSON.stringify($('Parse Agent 1 Output').item.json.output) }}",
              "type": "string"
            },
            {
              "id": "agent2_output",
              "name": "agent2_queries",
              "value": "={{ JSON.stringify($json.output) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Agent 3 Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        6112,
        2928
      ],
      "id": "00bedeef-8a61-45d9-8eec-3f54e35d84e4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Master Crisis Classification AI Agent. Your role is to synthesize all information and produce a comprehensive, authoritative crisis assessment.\n\n**AGENT 1 CLASSIFICATION:**\n{{ $json.agent1_classification }}\n\n**AGENT 2 QUERIES:**\n{{ $json.agent2_queries }}\n\n**YOUR TASK:**\nProduce a comprehensive master classification following the exact JSON structure provided.\n\n**NOTE:** Since we don't have actual search results yet, base your assessment on the initial classification. Mark information gaps clearly and provide realistic estimates where data is missing.\n\n**OUTPUT FORMAT:**\nReturn ONLY valid JSON - see system message for exact structure.",
        "hasOutputParser": true
      },
      "name": "Agent 3 Prompt1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        6336,
        2928
      ],
      "id": "9aa94d65-fb64-45e0-b5d0-6f916319b228"
    },
    {
      "parameters": {},
      "name": "JSON Output Parser5",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6480,
        3152
      ],
      "id": "f5532fb2-decf-4413-895a-237e98774aa2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE",
          "mode": "list",
          "cachedResultName": "Google Sheets Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 361843309,
          "mode": "list",
          "cachedResultName": "Agent3_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit#gid=361843309"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Crisis_ID": "={{ $json.output.master_classification?.crisis_id || 'UNKNOWN' }}",
            "Final_Category": "={{ $json.output.master_classification?.primary_category || '' }}",
            "Secondary_Categories": "={{ $json.output.master_classification?.secondary_categories?.join(', ') || '' }}",
            "Crisis_Phase": "={{ $json.output.master_classification?.crisis_phase || '' }}",
            "Final_Severity": "={{ $json.output.master_classification?.final_severity || '' }}",
            "Country": "={{ $json.output.geographic_data?.primary_affected_country || '' }}",
            "Region": "={{ $json.output.geographic_data?.primary_affected_region || '' }}",
            "Coordinates": "={{ $json.output.geographic_data?.coordinates || '' }}",
            "Timeline_JSON": "={{ JSON.stringify($json.output.timeline || {}) }}",
            "Impact_Assessment_JSON": "={{ JSON.stringify($json.output.impact_assessment || {}) }}",
            "Response_Analysis_JSON": "={{ JSON.stringify($json.output.response_analysis || {}) }}",
            "Predictive_JSON": "={{ JSON.stringify($json.output.predictive_analysis || {}) }}",
            "Quality_JSON": "={{ JSON.stringify($json.output.information_quality || {}) }}",
            "Final_Tags": "={{ $json.output.tags_final?.join(', ') || '' }}",
            "Monitoring_Keywords": "={{ $json.output.monitoring_keywords?.join(', ') || '' }}",
            "Confidence": "={{ $json.output.information_quality?.confidence_score || 0 }}",
            "Timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "name": "Save Agent 3 Master1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        7264,
        2928
      ],
      "id": "5b0755e5-5ca3-40ad-94ca-7f4eaf0cd9eb",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjcSC0u8s1GfFklj",
          "name": "jasonnew"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE",
          "mode": "list",
          "cachedResultName": "Google Sheets Structure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVutSzH9Ch1GKh4zvbttOFwFvwuX385gg9R5RTmfkIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 910820739,
          "mode": "list",
          "cachedResultName": "Processed_URLs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Complete",
            "Category": "={{ $json.output.master_classification?.primary_category || '' }}",
            "Severity": "={{ $json.output.master_classification?.final_severity || '' }}",
            "Notes": "={{ $json.output.master_classification?.crisis_phase || '' }}"
          },
          "matchingColumns": [
            {
              "column": "Crisis_ID",
              "value": "={{ $json.output.master_classification?.crisis_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update URL Status Complete1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        7488,
        2928
      ],
      "id": "89589138-ea05-4a66-afe6-699bc3e3b14e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OjcSC0u8s1GfFklj",
          "name": "jasonnew"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request20",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter: Chennai Rain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Combine Title & URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Title & URL1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Clean Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Article Data": {
      "main": [
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "HTTP Request20": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "HTTP Request22": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Markdown2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Markdown3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Markdown4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Markdown5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Markdown6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Markdown7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Markdown8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Markdown9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request17": {
      "main": [
        [
          {
            "node": "Markdown10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "Normalize All Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Chennai Rain": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Markdown10": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Markdown9": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Markdown2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Markdown3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Markdown4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Markdown5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Markdown6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Markdown7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Markdown8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Grok Model - Agent 1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1 Prompt1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent 1 Output": {
      "main": [
        [
          {
            "node": "IF Is Crisis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grok Model - Agent 2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 2 Prompt1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent 2 Output": {
      "main": [
        [
          {
            "node": "Save Agent 2 Queries1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grok Model - Agent 3": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 3 Prompt1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent 3 Output": {
      "main": [
        [
          {
            "node": "Save Agent 3 Master1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize All Data1": {
      "main": [
        [
          {
            "node": "Check Duplicates1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Processed URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates1": {
      "main": [
        [
          {
            "node": "Filter Valid Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Items1": {
      "main": [
        [
          {
            "node": "Prepare Agent 1 Context1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Categories DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent 1 Context1": {
      "main": [
        [
          {
            "node": "Agent 1 Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1 Prompt1": {
      "main": [
        [
          {
            "node": "Parse Agent 1 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Agent 1 Prompt1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Crisis1": {
      "main": [
        [
          {
            "node": "Register URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register URL1": {
      "main": [
        [
          {
            "node": "Save Agent 1 Classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent 1 Classification1": {
      "main": [
        [
          {
            "node": "Prepare Agent 2 Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent 2 Context1": {
      "main": [
        [
          {
            "node": "Agent 2 Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2 Prompt1": {
      "main": [
        [
          {
            "node": "Parse Agent 2 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Agent 2 Prompt1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent 2 Queries1": {
      "main": [
        [
          {
            "node": "Prepare Agent 3 Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent 3 Context1": {
      "main": [
        [
          {
            "node": "Agent 3 Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 3 Prompt1": {
      "main": [
        [
          {
            "node": "Parse Agent 3 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Agent 3 Prompt1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent 3 Master1": {
      "main": [
        [
          {
            "node": "Update URL Status Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "399bba59-aad4-4b6a-ab45-8013d25a19f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20fa5096a0ba22a5b267ee86cbd978b19a5b24c62dd492bc695bf60def68f04e"
  },
  "id": "2JUfZO4qM79QlWHi",
  "tags": []
}